  b<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Módulo de Fornecedor</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

	
	<h5>Buscar Fornecedor</h5>
	
	<div class="row">
    	<form class="col s12" action="/fornecedores">
      	<div class="row">
        	<div class="input-field col s4">
          		<input id="cnpj" type="text" name="cnpj">
          		<label for="cnpj">Cnpj</label>
        	</div>
        	<div class="input-field col s4">
          		<input id="razaoSocial" type="text" name="razaoSocial">
          		<label for="razaoSocial">Razão Social</label>
        	</div>
        	<div class="input-field col s4">
        	<button type="submit"  class="waves-effect waves-light btn">Buscar</button>
        		<!-- <a href="/fornecedores" class="waves-effect waves-light btn">Buscar</a>   -->        		
        	</div>
     	</div>
     	 </form>     
     </div>  
	<table class="striped">
		<thead>
			<tr>
				<th>Cnpj</th>
				<th>Razão Social</th>
				<th>DDD</th>
				<th>Telefone</th>
				<th>E-mail</th>
				<th>Cidade</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="fornecedor : ${fornecedores}">
				<!-- <td><a th:href="${#mvc.url('EC#detalhesFornecedor')}"><span th:text="${fornecedor.cnpj}"></span></a></td> -->
				<td><span th:text="${fornecedor.cnpj}"></span></td>
				<td><span th:text="${fornecedor.razaoSocial}"></span></td>
				<td><span th:text="${fornecedor.ddd}"></span></td>
				<td><span th:text="${fornecedor.telefone}"></span></td>
				<td><span th:text="${fornecedor.email}"></span></td>
				<td><span th:text="${fornecedor.cidade}"></span></td>
				<td><span th:text="${fornecedor.estado}"></span></td>
				<td><a href="/cadastrarfornecedor/"> <button type="submit"  class="waves-effect waves-light btn" >Editar</button></a></td>
				<td><button type="submit"  class="waves-effect waves-light btn">Excluir</button></td>
			</tr>
		</tbody>
		
	</table>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>