<!DOCTYPE html>
<html>
<head>
	<title>Pagina</title>
</head>
<body>


<style>

table ,input{
	font-style: italic;
	  border:2px solid #7D5B5B;
	  border-collapse: collapse;
	  width: 100%;
     }

	th{
		border: 1px solid black;
	}
	tr{
		padding-left: 12px;
	}

</style>


<table>
	
 
 <tr>

   <th>Nome</th>	
   <th>Idade</th>	
   <th>Sexo</th>	

 </tr>

 <tr>

   <td><input  size="13" type="text" name=""></td>	
   <td><input type="text" name=""></td>	
   <td><input type="text" name="" id="nao"></td>	
    
 </tr>

</table>


</body>
</html>