<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ERP ETEC</title>
    <link rel="stylesheet" href="css2/style.css">
  </head>
  <body>
<div class="login-box">
  <h1>ERP ETEC</h1>
  <div class="textbox">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Coloque seu login">
  </div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Coloque sua senha">
  </div>

  <input type="button" class="btn" value="Logar">
    </div>
</body>
</html>
